

<div id='main'>
	<h1>Universal Sentence Encoder lite demo</h1>
		<div id="description">This demo is taken from the <a target="_blank" href="https://colab.sandbox.google.com/github/tensorflow/hub/blob/master/examples/colab/semantic_similarity_with_tf_hub_universal_encoder_lite.ipynb#scrollTo=_GSCW5QIBKVe">TensorFlow Hub Universal Sentence Encoder lite colab</a>. It shows the model's ability to group sentences by semantic similarity usings their embeddings. The matrix on the right shows self-similarity scores (dot products) between the embeddings for the sentences on the left. The redder the cell, the higher the similarity score.</div>
			<div id="loading">
			Loading the model...
			</div>
			<div id="container">
			<div id="sentences-container"></div>
			<div id="self-similarity-matrix">
			<div class="labels y-axis"></div>
			<div class="labels x-axis"></div>
			<canvas></canvas>
		</div>
	</div>
</div>

<router-outlet></router-outlet>